.container{
    background-color: rgb(38, 185, 219);
    padding: 40px 0;
    text-align: center;
}

.container>a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.container>a:not(:last-child){
    margin-right: 200px;
}

.image-container{
    text-align: center;
    margin-top: 40px;
}

.user-ul{
    margin-top: 30px;
}

.user-ul>li{
    margin: 10px 0;
    font-size: 20px;
}

.user-wrapper{
    margin: 10px 0;
    margin-left: 50px;
}

.contacts-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    margin-top: 50px;
    gap: 30px;
}

.contacts-wrapper>div{
    margin: 0 auto;
    font-size: 18px;
}

.contacts-wrapper>div>img{
    width: 150px;
}

