body, html{
    height: 100%;
    width: 100%;
    margin: 0;
}

.container{
    width: 1100px;
    margin: 0 auto;
}

.row{
    display: flex;
}

.col{
    flex:1;
}

.container{
    padding: 100px;
}
.form>input, .redux-form>input{
    display: block;
    width: 200px;
    padding: 15px 50px 15px 10px;
    margin-top: 30px;
    border:2px solid black;
    border-radius: 5px;
}

.form>input::placeholder{
    color:black;
}

.form>button, .redux-form>button, .fetched-btn{
    padding: 15px 50px;
    background-color: transparent;
    border:2px solid black;
    border-radius: 5px;
    margin-top: 30px;
}
